<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="hdb" connectionString="Data Source=LAPTOP-ND6JKR16\SQLEXPRESS;Initial Catalog=HouseDatabase;Integrated Security=True" />
  <add name="Lets_Find_Home.Properties.Settings.HouseDatabaseConnectionString"
   connectionString="Data Source=LAPTOP-ND6JKR16\SQLEXPRESS;Initial Catalog=HouseDatabase;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>